# Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Bicep-param mit geheimen Daten
*.parameters.json
parameters.json

# Env config 
.env 
.env.local

# VS Code Workspace
.vscode/
*.code-workspace 
